.form {
  text-align: center;
  position: relative;

  display: block;
  padding: 20px 0;

  width: 500px;

  height: auto;

  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
}

.input {
  display: block;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  border: none;

  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;

  color: #858585;
  font-weight: lighter;

  transition: 0.5s;

  &::placeholder {
    transform: translateY(0px);

    transition: 0.5s;
  }

  &:hover,
  &:focus,
  &:active:focus {
    color: #0097ee;
    outline: none;
    border-bottom: 1px solid #0097ee;

    &::placeholder {
      color: #0097ee;
      position: relative;

      transform: translateY(-20px);
    }
  }
}

.button {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #0097ee;
  color: #0097ee;
  background-color: white;
  transition: 0.5s;
}

.button:hover {
  border: 1px solid rgb(18, 226, 35);
  color: rgb(18, 226, 35);
}
