.button {
  padding: 10px;
  background-color: white;
  border: 2px solid grey;
  transition: 0.5s;
}
.button:hover {
  transform: scale(1.1);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
