.container {
  position: relative;

  display: block;

  width: 500px;

  height: auto;
  margin: 12% auto;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
}

.title {
  padding: 40px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #414141;
}
.name,
.email,
.pwd {
  display: block;
  height: 50px;
  width: 90%;
  margin: 0 auto;
  border: none;

  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;

  color: #858585;
  font-weight: lighter;

  transition: 0.5s;

  &::placeholder {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);

    transition: 0.5s;
  }

  &:hover,
  &:focus,
  &:active:focus {
    color: #ff5722;
    outline: none;
    border-bottom: 1px solid #ff5722;

    &::placeholder {
      color: #ff5722;
      position: relative;

      transform: translateY(-20px);
    }
  }
}

.register {
  cursor: pointer;
  display: inline-block;
  float: left;
  width: 250px;
  height: 60px;

  border: none;
  font-family: 'Open Sans', sans-serif;

  color: #fff;

  transition: 0.5s;
  background: #673ab7;
}

.signin {
  cursor: pointer;
  display: inline-block;
  float: left;
  width: 250px;
  height: 60px;

  border: none;
  font-family: 'Open Sans', sans-serif;

  color: #fff;

  transition: 0.5s;
  background: #ff5722;
}

span {
  position: absolute;
  display: block;
  margin: -10px 20%;

  transform: translateX(0);

  transition: 0.5s;
}

button:hover span {
  transform: translateX(30px);
}
